{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Войти
        </button>
    </form>
    Еще нет аккаунта? <a href="{% url 'users:register' %}">Создать</a>
    Забыли пароль? <a href="{% url 'users:password_reset' %}">Сбросить по почте</a>
    <a href="{% provider_login_url 'github' %}">Войти через GitHub</a>
{% endblock %}